<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="CALL_PHONE" />

    <queries>
        <intent>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        
        
        android:theme="@style/AppTheme"
        android:label="JARVIS"
        android:icon="@mipmap/ic_launcher"

        android:allowBackup="true"
        android:supportsRtl="true">
        <service
    android:name=".JarvisVoiceInteractionService"
    android:permission="android.permission.BIND_VOICE_INTERACTION"
    android:exported="true">

    <intent-filter>
        <action android:name="android.service.voice.VoiceInteractionService" />
    </intent-filter>

    <meta-data
        android:name="android.voice_interaction"
        android:resource="@xml/jarvis_voice_interaction" />
</service>

<service
    android:name=".JarvisVoiceSessionService"
    android:permission="android.permission.BIND_VOICE_INTERACTION"
    android:exported="true" />
        <service
    android:name=".JarvisAccessibilityService"
    android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
    android:exported="true">

    <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
    </intent-filter>

    <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/jarvis_accessibility_config" />
</service>
        <service
    android:name=".JarvisService"
    android:enabled="true"
    android:exported="false"
    android:foregroundServiceType="microphone" />
        

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
